body {
    text-align: center;
    background-image: linear-gradient(to right, #77a1d3, #79cbca, #e684ae) ;
  
    padding-inline: 15%;
}
#quiz-container .question{
    border-style: inset;
    border-radius: 25px;
    background-color: whitesmoke;
    border-color: rgb(191, 96, 191);
    margin: 70px;
    font-family: Cambria;
    font-size: 12mm;
}
#options-container button{
    
    font-family: Cambria;
    font-size: 12mm;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 15px;
    border-color: rgb(191, 96, 191);
    font-size: 12mm;
    
    &.right-answer { 
        border : solid;
        border-color : rgb(104, 206, 104);
    }
    &.wrong-answer {
        border : solid;
        border-color : rgb(209, 71, 71);
    
    }

}
#options-container button:hover{
    transform: scale(1.1);
}
#next-button, #replay-button{
    float: right;
    font-size: 6mm;
    margin-top: 60px;
    font-family: Cambria;
    border-radius: 15px;
    border-color: #79cbca;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        
    }    
    
}
#next-button:hover{
    transform: scale(1.3);
}
#next-button:disabled {
    cursor: not-allowed;
}

#progressBar {
    width: 50%;
    height: 2rem;
    border: 1px solid black;
    margin-top: 100px;
}

#progressBarFull {
    height: 2rem;
    background-color: black;
    width: 0%;
    transition: all ease-in-out 0.5s;
}